* {
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 1300px;
    margin: auto;
}


:root {
    --cor01: #000;
    --cor02: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor02);
    color: var(--cor01);
    padding: 10px;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    text-decoration: none;
}

.logo-container img {
    width: 50px;
    margin-right: 10px;
}

nav {
    display: flex;
    justify-content: flex-end; 
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 10px;
}

nav a {
    color: var(--cor01);
    text-decoration: none;
    padding: 10px;
    height: 40px;
    display: flex;
    align-items: center;
}

header a {
    color: var(--cor01);
    text-decoration: none;
    padding: 10px;
    height: 40px;
    display: flex;
    align-items: center;
}
